/*--------------------------------------------------------------

Template: Theme Name
Author: 
Version:  1
Design and Developed by: 

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
.search-box > button {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 0 3px 3px 0;
  color: #666;
  padding: 0 13px;
  position: absolute;
  right: 0;
}
.search-box > button i{line-height: 28px;}
.search-box input {
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 3px 0 0 3px;
  float: left;
  height: 30px;
  padding: 6px 50px 6px 10px;
  width: 100%;
}
.radius{border-radius:20px;}
.line-read {
  background: #f45650 none repeat scroll 0 0;
  height: 2px;
  width: 30px;
}
.rbtn {
  height: 34px;
  width: auto;
}
input[type="radio"], input[type="checkbox"] {
  height: auto;
  width: auto;
}
.d-inline{display:inline-block}
.linebt{position:relative;display:inline-block;}

.border {border: 1px solid #e9e9e9;}
.border-b{border-bottom: 1px solid #f2f2f2;}
.border-t{border-top: 1px solid #f2f2f2;}
.border-l{border-left: 1px solid #f2f2f2;}
.border-r{border-right: 1px solid #f2f2f2;}
.border-none {border: medium none !important;}
.p-r{position:relative;}
.cursor{cursor:pointer;}
.mb-p-0 p{margin:0;}
.hover:hover,.hover-i:hover i{color:#F45650;}
.hover-a a:hover{color:#F45650;}
.hover-none:hover{color:inherit;}
.blue .dropdown > li:hover > a, .blue a:hover {color: #48a2df;}
.hover-a-none a:hover{color:inherit;}
.hover-bg:hover{background:#F45650;}
.width-80{width:80px}
.width-100{width:100px}
.width-150{width:150px}
.img-full img{width:100%;}
.btn-one, .btn-one2 {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 30px;
  transition: all 0.5s ease 0s;
}
.btn-one2{color: #666;}
.btn-one:hover ,.btn-one2:hover {
  background:#F45650;
  color:#fff;
  border: 1px solid #F45650;
}
.relative{position:relative}
.image-box{overflow:hidden;cursor:pointer}

.h-title{font-size: 15px;text-transform: uppercase;color: #464545}
.italic{font-style: italic;}
.sub-input {
  background: transparent none repeat scroll 0 0;
  border-radius: 20px;
  height: 34px;
  padding: 0 15px;
}
.sub-input:focus{border: 1px solid #ddd;}
.sub-btn {
  border: inherit;
  border-radius: 0 20px 20px 0;
  height: 34px;
  padding: 5px 15px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  transition: all 0.25s ease 0s;
}
.sub-btn:hover{background: #9EE6CC !important}
.text-line2{position: relative;display: inline-block;color: #fff;}
.text-line2::after {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 1px;
  margin-right: -114px;
  position: absolute;
  right: 50%;
  top: 9px;
  width: 60px;
}
.text-line2::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -114px;
  position: absolute;
  top: 9px;
  width: 60px;
}
.text-line3::before {
  background: #555 none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -76px;
  position: absolute;
  top: 8px;
  width: 40px;
}
.text-line3::after {
  background: #555 none repeat scroll 0 0;
  content: "";
  height: 1px;
  margin-right: -75px;
  position: absolute;
  right: 50%;
  top: 8px;
  width: 40px;
}
.text-line3 {
  color: #666;
  display: inline-block;
  font-family: "PT Sans",sans-serif;
  font-size: 15px;
  position: relative;
  text-transform: uppercase;
}
.owl-theme .owl-controls {
  margin-top: 0px;
}
.li-after li{position: relative;}
.li-after li::after {
  background: #ccc none repeat scroll 0 0;
  content: "";
  height: 11px;
  position: absolute;
  right: -1px;
  top: 5px;
  width: 2px;
}
.li-after li:last-child:after{opacity: 0;}
.verti-center {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.go-btn {
  color: #fe4646;
  display: inline-block;
  font-size: 17px;
  text-transform: uppercase;
}